/* Header specifications */
header {

    background-color: #ffffff;
    font-family: Times;
    /* padding-left: 20px; */
    width: 960px;
    margin: 0 auto;
    margin-top: -20px;

}


/* Position nav bar top right of page, within my margin */
nav {

    float: right;
    top: 0;
    right: 0;
    margin-top: -60px;
    color: #4aaaa5;

    /* position: fixed;
    top: 10px;
    right: 20px;
    width: 440px;
    margin-top: 20px; */


}

/* Section background  image */
section {

    background-image: url("../images/dynamic-style.png");
    padding-top: 35px;
    margin-top: -26px;
    height: 600px;

}

/* Content background color, margins */
.sectionContent {

    background-color: #ffffff;
    font-family: Times;
    color: #777777;
    height: auto;
    padding-top: 10px;
    width: 960px;
    margin: 0 auto;
    background-image: none;

}

/* links in gray color */
a {

    color: #4aaaa5;

}

/* Position name on top left of page */
h1 {

    top: 0;
    left: 0;
    /* padding-left: 10px; */
    padding-top: 20px;
    color: white;

}

/* About Me text modifications */
h2 {

    padding-left: 10px;
    color: #4aaaa5;

}


/* body {

    background-image: url("../images/dynamic-style.png");

} */

/* text in <p> tag text in <section> gray */
.bodyGray {

    margin: 4px;
    color: #777777;
    line-height: 1.6;
    padding-right: 10px;

}

/* Header border specifications */
.headerBorder {

    background-color: #cccccc;
    height: 2px;
    border: none;

}

/* Content border specifications */
.contentBorder {

    background-color: #dddddd;
    height: 2px;
    border: none;
    width: 940px;


}

/* Footer */
.footer {

    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #666666;
    text-align: center;
    color: white;
    width: 100%;

}

/* Highlighting Bruce in gray */
span {

    background-color: #4aaaa5;
    padding: 22px 10px 22.5px 10px;
    
}

/* Image positioning */
img {

    float: left;
    width: 200px;
    height: 200px;
    padding: 10px;
    
}

/* Positioning form element */
form {

    margin-left: 10px;
    padding-top: 10px;

}

/* positioning input element */
input {

    width: 915px;
    padding: 10px;
    padding-top: 10px;

}

/* Message box with adjustable vertical scroll */
textarea {

    width: 915px;
    height: 100px;
    padding: 10px;
    border: 1px solid #cccccc;
    resize: vertical;
    overflow: auto;

}

input[type=submit] {

    margin-top: 10px;
    width: 100px;

}
