/* Header specifications */
header {

    background-color: #ffffff;
    font-family: Times;
    /* padding-left: 20px; */
    width: 960px;

}


/* Position nav bar top right of page */
nav {

    position: absolute;
     top: 0;
     right: 0;
     /*padding: 35px; */
    margin-top: 37px;
    margin-right: 30px;
    color: #4aaaa5;

}

/* Content background color */
section {

    background-color: #ffffff;
    height: 400px;
    padding-top: 10px;

}

/* links in gray color */
a {

    color: #4aaaa5;

}

/* Position name on top left of page */
h1 {

    top: 0;
    left: 0;
    padding-left: 10px;
    color: white;

}

/* About Me text modifications */
h2 {

    padding-left: 10px;
    color: gray;

}

body {

    background-image: url("../images/dynamic-style.png");

}

/* text in <p> tag text in <section> gray */
.bodyGray {

    margin: 4px;
    color: #777777;
    line-height: 1.6;

}

/* Line across the screen to split up content */
/* hr {

    height: 2px;
    background-color: lightgray;
    border: none;
    width: 97.8%;

} */

/* Header border specifications */
.headerBorder {

    background-color: #cccccc;
    height: 2px;
    border: none;
    width: 960px;

}

/* Content border specifications */
.contentBorder {

    background-color: #dddddd;
    height: 2px;
    border: none;
    width: 960px;

}

/* Footer */
.footer {

    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #666666;
    text-align: center;
    color: white;
    width: 100%;

}

/* Highlighting Bruce in gray */
span {

    background-color: gray;
    padding: 22.5px;
}

/* Image positioning */
img {

    float: left;
    width: 250px;
    height: 250px;
    padding: 10px;
    
}